# Secrets
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
.eggs/
.build/
build/
dist/
*.log

# Environments
.venv/
venv/
env/

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
